#landing-page{
  position: relative;

  p{
    font-family: $font-family-serif;
  }

  .sec{
    margin-bottom: 2.0em;
    padding-bottom: 2.0em;
  }


  .callout{
    background: #EEE9D9;
    padding: 3.0em 0;
  }

  #banner{
    background:url('/assets/images/hero-map.png');
    height: 400px;
    h1{
      font-size: 3.0em;
    }
    color: white;
  }

  #description{

  }

  #schedule{
    h4{
      margin-top: 1.5em;
    }
  }

  .person{
    height: 250px;
    margin-bottom: 0.5em;

    .title{
      font-weight: bold;
    }

    .name{
      font-weight: bold;
      color: $stanford-red;
    }

    .description{
      font-size: 0.9em;
    }
  }

}
